<div>
	<table border="1">
		<tr>
		<th>BadgeID</th>
		<th>Points</th>
		<th>Name</th>
		<th>Description</th>
		<th>Identifier</th>
		</tr>
		<% for(var i=0; i<rows.length; i++) {%>
			<tr>
			<td><%= rows[i].BadgeID %></td>
			<td><%= rows[i].Points %></td>
			<td><%= rows[i].Name %></td>
			<td><%= rows[i].Description %></td>
			<td><%= rows[i].Identifier %></td>
			</tr>
		<% } %>
	</table>
</div>
