<% include head %>
		<script src="/javascripts/entities.js"></script>
<% include top %>
<% include team_form %>
<div>
<% if (teams) { %>
		<% for(var i=0; i<teams.length; i++) {%>
      <div class="card-left">
		    <dd class="card-name"><%= teams[i].TeamName %></dd>
        <dd class="card-person"><a href="/users/<%= teams[i].UserID %>"><%= teams[i].FirstName %></a></dd>
      </div>
      <dl class="with-left-card">
    		<dd class="card-description"><%= teams[i].TeamDescription %></dd>
    		<dd class="card-actions"><a href="/teams/<%= teams[i].TeamID %>">See more &gt;&gt;</a></dd>
      </dl>
      <hr class="spacer" />
		<% } %>
<% } else { %>
  <div class="message">No teams found!</div>
<% } %>
</div>
<% include bottom %>
