<% include head %>
<% include top %>
<div>
<% if (hero) { %>
  <div class="card-photo"><img src="<%= hero.Image %>" class="user-info-photo" /></div>
  <dl class="with-image">
    <dd class="card-name"><%= hero.FirstName %> <%= hero.LastName %></dd>
      <% if (hero.Country != '--' || hero.City != '--') { %>
        <dt class="card-detail">Location</dt>
    		<dd class="card-detail">
          <%= hero.City %><%= hero.City!='--' && hero.Country!='--'?',':'' %>
          <%= hero.Country %>
        </dd>
      <% } %>
  </dl>
<% } else { %>
  <div class="message error">User not found!</div>
<% } %>
</div>
<% include bottom %>
